<head>
   <script type="text/javascript" src='/socket.io/socket.io.js'></script> 
   <script src="main.js"></script>

  </head>
  <body>
    <h1>
      Call Center App
    </h1>
      <table id="calls"></table>
      <br>
    <table id="agents"></table>
  </body>